keras
click==7.1.2
Sphinx==3.0.3
#python-dotenv==0.13.0
matplotlib==3.3.2
scipy==1.5.2
numpy==1.19.2
#opencv-python-headless==4.2.0.*
xmltodict==0.12.0
#argparse==1.4.0
ipywidgets==7.5.1
simplejson==3.17.2
pathlib==1.0.1
scikit-image==0.17.2
coloredlogs==14.0
#pandas==1.1.4
Flask==1.1.2
gunicorn==20.0.4
Werkzeug==0.16.1
flask-restx==0.2.0
flask-cors==3.0.9
boto3==1.16.29
flask-jwt-extended==3.25.0
#watchtower==1.0.0